body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* Estilos adicionales para las animaciones */
    animation: bounce 2s infinite alternate; /* Cambia la duración según sea necesario */
}

@keyframes bounce {
    to {
        transform: translateY(50vh);
    }
}

.popup img {
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
