body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    to {
        transform: translateY(20vh);
    }
}

.popup img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
}

/* Estilo adicional para la imagen del encabezado */
header img {
    max-width: 100%;
    height: auto;
}

/* Estilo adicional para agregar sombra al encabezado */
header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
