body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart {
    color: white;
}

.product-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.product {
    text-align: center;
    margin: 0 10px;
}

.shopping-cart {
    text-align: center;
    padding: 20px;
    background-color:
